<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf9bbf">  <td>20/05/12 14:37:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup()[pri:0, instance:Runclass.NewTest@704a52ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@926370398</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>20/05/12 14:37:47</td>   <td>1915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:Runclass.NewTest@704a52ec]">f</td> 
  <td>main@926370398</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>20/05/12 14:37:51</td>   <td>5528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.TearDown()[pri:0, instance:Runclass.NewTest@704a52ec]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@926370398</td>   <td></td> </tr>
</table>
